$offwhite : #ebebeb;
$offblack : #171717;
$primary-color : #a161f7;
$secondary-color : #7956b0;
$grey : #7f9096;

.calculatorContainer{
    width: 100%;
    height: 100px;
    max-width: 600px;

    border: 2px solid black;
}

